*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
}

body{
    background:url(../images/login_bg.jpg)no-repeat;
    background-size: 100% 100%;
}

.logo{
    width:1200px;
    margin:0 auto;
}

.login,.register{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:310px;
    background:#fff;
    border-radius: 10px;

}

.login .layui-form .layui-form-item{
    position: relative;
    padding:0 30px;
}

.login .layui-form .layui-form-item span{
    position: absolute;
    left:40px;
    top:9px;
}

.login .layui-form .layui-form-item input{
    border-radius: 10px;
    padding-left:30px;
}

.login .layui-form .layui-form-item{
    text-align:right;
}

.register .layui-form .layui-form-item{
    position: relative;
    padding:0 30px;
}

.register .layui-form .layui-form-item span{
    position: absolute;
    left:40px;
    top:9px;
}

.register .layui-form .layui-form-item input{
    border-radius: 10px;
    padding-left:30px;
}

.register .layui-form .layui-form-item{
    text-align:right;
}


.register{
    display:none;
}

.title{
    padding-top:18px;
    text-align:center;
    margin-bottom: 20px;
}